/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    /*    delete on submission*/
    /*    border: 1px solid black;*/
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/


body {
    text-align: center;
    color: #412f2d;
}

.max-content-width {
    width: 80%;
    margin: 0 auto;
}

.max-content-width {
    max-width: 1000px;
}

#nav-list a,
#main-content-container p,
#form-content input,
#form-content textarea {
    font-family: 'Source Sans Pro', sans-serif;
}


.slogan,
#main-content-container h2,
#main-content-container h3 {
    color: #080b0b;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

#header-nav-hero-container,
.fixed-header {
    width: 100%;
}

#header-nav-hero-container {
    position: relative;
}

.fixed-header{
    background-color: #080b0b;
    position: fixed;
    z-index: 1;
}

h1,
#nav-list a {
    color: #fdfeb1;
}

h1 {
    font-size: 1.75rem;
    padding: 1rem 0;
}

#nav-list {
    padding-bottom: .5rem;
}

#nav-list li {
    display: inline-block;
}

#nav-list a {
    text-decoration: none;
    letter-spacing: .7px;
    padding: 0 .5rem;
}

#nav-list a:hover {
    color: white;
}

#hero-image-container {
    height: 400px;
    margin: 0 auto;
    background-image: url(images/beach-landscape-sea-water-nature-forest-912844-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/****Ask about absolute. Do I need a position relative on the parent?****/
#slogan-container {
    position: absolute;
    opacity: .85;
    margin-top: 7rem;
    border-radius: 5px;
    background-color: #d6dde0;
}

.slogan {
    font-size: 1.75rem;
    padding: .4rem;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

#main-content-container h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

#main-content-container h3,
#main-content-container p {
    font-size: 1.2rem;
}

#about-me-container {
    margin: 1rem auto;
}

#skills-container,
#contact-section {
    background-color: #dce2e5;
}

#portfolio-bio,
.inline-project-content {
    vertical-align: top;
    margin-top: 1.25rem;
}

/******STYLES FOR ABOUT ME SECTION******/
#about-me-photo {
    height: 370px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: 1px 3px 6px grey;
}

#portfolio-bio{
    text-align: left;
}

#portfolio-bio-photo {
    margin-top: 1rem;
}

/******STYLES FOR SKILLS SECTION******/
#skills-container {
    padding-bottom: 3rem;
    clear: right;
}

#skills-container div {
    display: inline-block;
}

.skills {
    background-color: white;
    border-radius: 3px;
}

#skills-container img {
    height: 78px;
    padding: .5rem 0;
}


/******STYLES FOR PROJECTS SECTION******/
.project-container {
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border-bottom: 1px solid #080b0b;
}

.project-container:last-child {
   border: 0;
}

.project-container h3,
.project-container p {
    margin-top: .5rem;
    margin-left: .5rem;
}

.project-demo {
/*    height: 200px;*/
/*    border-radius: 3px;*/
/*    box-shadow: 1px 3px 6px grey;*/
}

#bek-lingo,
#sop-app,
#fav-coffee,
#women-and-auto {
    height: 275px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
/*    box-shadow: 1px 3px 6px grey;*/
    border-radius: 3px;
}

#bek-lingo {
    background-image: url(project-screenshots/bek-lingo-screenshot.png);
}

#sop-app {
    background-image: url(project-screenshots/sop-screenshot.png);
}

#fav-coffee {
    background-image: url(project-screenshots/coffee-app-screenshot.png);
}

#women-and-auto {
    background-image: url(project-screenshots/women-and-auto-screenshot.png);
}

.code-demo {
    text-align: center;
    margin: 1rem;
}

.code-demo button,
#submit-button {
    margin: 0 .5rem;
    padding: .75rem 0;
    background-color: #26455b;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #b2b7b1;
    color: #fdfeb1;
    letter-spacing: .35px;
}

.code-demo button {
    display: inline-block;
    font-size: 1.1rem;
    width: 100px;
}

.code-demo a {
    color: #fdfeb1;
    text-decoration: none;
}

#submit-button {
    width: 175px;
    font-size: 1.24rem;
    font-weight: 500;
    letter-spacing: .35px;
}

#contact-form-container {
    padding: 3rem
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    background-color: #080b0b;
    left: 0;
    bottom: 0;
    font-size: 1.25rem;
    padding: 1rem 0;
}

footer p,
#contact-info-ul {
    display: inline-block;
    padding: .5rem 1rem;
}

footer p,
.contact-info a {
    color: #fdfeb1;
}

.contact-info {
    display: inline-block;
    padding: 0 1rem;
}



.fa {
/*
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
*/
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

@media only screen and (min-width: 320px) {
    body {
/*        color: purple;*/
    }

    .max-content-width {
        width: 95%;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
/*        color: green;*/
    }

    .max-content-width {
        width: 90%;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
/*        color: red;*/
    }

    #header-title,
    #nav-container,
    #portfolio-bio-photo,
    #portfolio-bio {
        display: inline-block;
        margin: 0 auto;
        width: 49%;
    }

    #header-title h1 {
        text-align: left;
        padding-left: 1rem;
    }

    #nav-container {
        text-align: right;
        padding-right: 1rem;
    }

    #portfolio-bio-photo {
        text-align: right;
        float: right;
    }

    .project-demo,
    .inline-project-content {
                display: inline-block;
                width: 49%;
    }

    .project-demo,
    .inline-project-content {
        vertical-align: middle;
    }

}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
/*        color: blue;*/
    }
}
